.grammar {
    background: #FFF;
    padding: 20px 20px 5px;
    position: relative;
    transition: all 500ms;

    &.highlight {
        background: RGB(255,251,230);
    }
}

.title {
    font-weight: bold;
}

.structures {
    margin-bottom: 10px;
}

.structure {
    color: #111;
    font-weight: normal;
    padding: 3px;
    background: #ecf0f1;
    border-radius: 3px;
    margin-right: 10px;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.examples {
    height: 0;
    overflow: hidden;
    padding-left: 20px;
    transition: all 500ms;
}

.more-examples {
    cursor: pointer;

    &, &:hover, &:focus {
        text-decoration: none;
    }
}

.more-examples-icon {
    display: inline-block;
    margin-right: 5px;
    transform: rotate(0);
    transition: all 300ms;

    &.expanded {
        transform: rotate(90deg);
    }
}

.sources {
    margin-top: 10px;
}

.learn-more-label {
    font-size: 12px;
    margin-right: 5px;
}

.source {
    margin-right: 5px;
}
