.logo-text {
    font-family: 'Farsan', cursive;
    text-transform: uppercase;
    padding-top: 22px;
}
.grammar-form {
    display: flex;
    flex-direction: row;
    width: 60%;
}
.grammar-form-group {
    width: 100%;
    margin-right: 5px;
}
.grammar-input {
    width: 100% !important;
}