.logo-text {
    font-family: 'Farsan', cursive;
    text-transform: uppercase;
    padding-top: 22px;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background: darken(#2c3e50, 10%);
    vertical-align: center;
    color: white;
}

.hero-text {
    padding-top: 50px;
}

.actions {
    padding-top: 50px;

    a {
        margin: 0 20px;
    }
}

.getting-started {
    padding: 50px 0;
    width: 768px;

}

.mini-demo {
    text-align: center;
    padding: 100px 0;
}

.json-container {
    position: relative;
    height: 300px;
    margin: 20px 0;
}

.mini-demo-json {
    text-align: left;
    height: 300px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    div {
        transition: all 1000ms;
        opacity: 0;

    }
    &.active {
        z-index: 100;
        div {
            opacity: 1;
        }
    }

}